<h1><%= @post.title %></h1>

<h3>Category: <%= link_to @post.category.name, category_path(@post.category) if @post.category %>

<p><%= @post.description %></p>

<%= link_to "View all posts", posts_path %>
