<h1><%= @post.title %></h1>

<!-- @post.category is the Category model itself, so we can use
it anywhere we would use @category in a view for that object. Also note that
we added the if @post.category conditional to ensure that the view
doesn't try to call @post.category.name if the post has not been associated with a category. -->

<h3>Category: <%= link_to @post.category.name, category_path(@post.category) if @post.category %></h3>

<p><%= @post.description %></p>
