<h1><%= @post.title %></h1>

<p><%= link_to @post.category.name, category_path(@post.category) if @post.category %></p>
<p><%= link_to @post.author.name, author_path(@post.author) if @post.author %></p>
<p><%= @post.description %></p>
