<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<!-- contains links to the category's posts -->

<%@category.posts.each do |post|%>
 <%= link_to "My Post", post_path(post) %>
 <%end%>
