<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>
<!-- We wrote a loop very similar to the loops we've been writing in index actions, which makes sense since a category is essentially an index of its posts.  -->
<!-- The object returned by an association method (posts in this case) is a CollectionProxy, and it responds to most of the methods you can use on an array. -->
