
<h1><%= @category.name %></h1>

<h3><%= pluralize(@category.posts.count, 'Post') %></h3> <!--multiple posts, so must iterate-->
<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>
