<h1><%= @category.name %></h1>
<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<!-- Add code here to list a category's posts. -->
<% @category.posts.each do |post| %>
<p><%= link_to post.title, post_path(post) %></p>
<% end %>
