<h1><%= @category.name %></h1>
<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% if @category.posts.size > 0 %>
    <% @category.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post.id) %></li>
    <% end %>
  <% end %>
</ul>
