<h1><%= @category.name %></h1>

<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% @category.posts.each do |p| %>
    <li>Post: <%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>
