<h1><%= @category.name %></h1>


<p><%= pluralize(@category.posts.count, 'Post') %>/</p>

<ul>
  <% @category.posts.each do |cat| %>
    <li><%= link_to cat.title, post_path(cat) %></li>
  <% end %>
</ul>